{% extends 'index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "About.css" %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-align-center u-black u-clearfix u-section-1" id="sec-2acf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div alt="" class="u-image u-image-circle u-image-1" data-image-width="458" data-image-height="458"></div>
        <h2 class="u-text u-text-default u-text-1">Delnold</h2>
        <p class="u-text u-text-2"> Hi! I am the creator of S5 University.&nbsp; <br>In case, you have any problems with the website, you would like to express your suggestions or even help to make content, you can contact via icons below.<br>
        </p>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" target="_blank" data-type="Custom" title="Custom" href={{ icons_about.Telegram }}><span class="u-file-icon u-icon u-social-custom u-social-icon u-text-white u-icon-1"><img src="{% static "images/2111710-b67a1967.png" %}" alt=""></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Custom" title="Custom" href={{ icons_about.Gmail }}><span class="u-file-icon u-icon u-social-custom u-social-icon u-text-white u-icon-2"><img src="{% static "images/2991151-bb424397.png" %}" alt=""></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Custom" title="Custom" href={{ icons_about.Github }}><span class="u-file-icon u-icon u-social-custom u-social-icon u-text-white u-icon-3"><img src="{% static "images/1051326-5e27a61a.png" %}" alt=""></span>
          </a>
        </div>
      </div>
    </section>
{% endblock %}