{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div style="background-color: black; border-bottom: 50px;border-bottom-style: solid;border-bottom-width: 50px;">
    <br>
    <div>
    <h1 style="color: white; font-weight: bold;;">{{ user_check.username }}</h1>
    {% if user_check.userextended.profile_pic %}
        <img style="width: 160px;height: 160px;" src={{ user_check.userextended.profile_pic.url }}>
    {% else %}
        <img style="width: 160px;height: 160px" src="{% static 'images/default_image.png' %}">
    {% endif %}
    <h2 style="color: white; font-weight: bold;;">Bio:</h2>
    <h4 style="color: white">{{ user_check.userextended.biography }}</h4>
    {% if user_check.username == request.user.username %}
     <form style="color: yellow" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ profile_form }}
        <button type="submit">Save!</button>
     </form>
    {% endif %}
    </div>
    <br><br><br>
    <h3 style="color: whitesmoke">Favourite champions:</h3>
    <div style="white-space: nowrap;">
    {% for champ in favourite_champions %}
        <div style="display: inline-block; text-align: center">
        <a href={% url 'champion' champ.champion_name %}>
        <img src="{{ champ.champion_icon.url }}">
       <h5 style="color: whitesmoke">{{ champ.champion_name }}</h5>
        </a>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}